.awesomplete {
    display: block;
}

/* td width, fit to content */
td.fitToContent,
th.fitToContent {
    width: 1px;
    white-space: nowrap;
}

/* td link */
td.link {
    position: relative
}
td.link a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 18px;
}