.awesomplete {
    display: block;
}

/* fit to content */
td.fitToContent,
th.fitToContent {
    width: 1px;
    white-space: nowrap;
}
.col.fitToContent {
    flex-grow: 0;
}

/* td link */
td.link {
    padding: 0;
}
td.link a {
    width: 100%;
    padding: 1.125rem;
}

/* Table Row Counter */
.table-counter {
    counter-reset: rows;
}
.table-counter tbody tr {
    counter-increment: rows;
}
.table-counter td:first-child:before {
    content: counter(rows);
}
/* 404 Page */


/* Tables in List Groups */
.table-list {
    background: #ececec;
    box-shadow: 0px 0px 4px 0px inset rgba(0,0,0,0.5);
    margin: 0;
}
.table-list td {
    border: 1px solid #dfdfdf;
}